
.contPanel {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.contCentre {
  max-width: 600px;
  margin: 0 auto;
}

.simpleButton {
  margin-top: 20px;
}

.textCentre{
  text-align: center;
}